/CallCSharpWebServiceApplication/nbproject/private/
/CallCSharpWebServiceApplication/build/
/CallCSharpWebServiceApplication/dist/
/BinaryConverterJavaWebServer/dist/
/JavaWebServer/nbproject/private/
/JavaWebServer/build/
/JavaWebServer/dist/
/JavaWebServerWebSocket/target/
/JavaClient/nbproject/private/
/JavaClient/build/
/JavaClient/dist/
/JavaTest/target/
/JavaApplication6/nbproject/private/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/