/CallCSharpWebServiceApplication/nbproject/private/
/CallCSharpWebServiceApplication/build/
/CallCSharpWebServiceApplication/dist/
/BinaryConverterJavaWebServer/dist/
/JavaWebServer/nbproject/private/
/JavaWebServer/build/
/JavaWebServer/dist/